<div class="row">
  <div class="col-md-2">
    <app-nav></app-nav>
  </div>
  <div class="col-md-10" style="margin-top: 75px">
    <div class="container">
      <!-- Data Boxes -->
      <div class="row">
        <!-- Data Box 1 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>{{ newOrdersCount }}</h3>
              <p class="card-text">Đơn hàng mới trong ngày</p>
            </div>
          </div>
        </div>

        <!-- Data Box 2 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h3>{{ totalSales | number : "1.0-0" }} ₫</h3>
              <p class="card-text">Tổng tiền thu được</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Orders -->
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Các đơn hàng gần đây</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Email</th>
                <th>Ngày đặt</th>
                <th>Tổng tiền</th>
              </tr>
            </thead>
            <tbody
              *ngFor="
                let order of orders
                  | paginate : { itemsPerPage: 6, currentPage: p }
              "
            >
              <!-- Sử dụng *ngFor để lặp qua danh sách đơn hàng và hiển thị thông tin -->
              <tr *ngIf="order.branch != 'Q1'">
                <td>
                  <p>{{ order.buyer.email }}</p>
                </td>
                <td>
                  {{
                    convertTimestampToDate(order.orderTime)
                      | date : "dd-MM-yyyy"
                  }}
                </td>
                <td>
                  <p>{{ order.total | number : "1.0-0" }} ₫</p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="pagination">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
