<div class="row">
  <div class="col-md-2">
    <app-nav></app-nav>
  </div>
  <div class="col-md-10" style="margin-top: 100px">
    <form (ngSubmit)="selectedItem ? updateItem() : addItem()">
      <div class="row mb-3">
        <label for="ItemTitle" class="col-sm-2 col-form-label">Tên Blog</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="ItemTitle"
            name="ItemTitle"
            [(ngModel)]="ItemTitle"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="ItemImage" class="col-sm-2 col-form-label"
          >Hình ảnh Blog</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="ItemImage"
            name="ItemImage"
            [(ngModel)]="ItemImage"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="ItemContent" class="col-sm-2 col-form-label">Content</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="ItemContent"
            name="ItemContent"
            [(ngModel)]="ItemContent"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="ItemUploadDate" class="col-sm-2 col-form-label"
          >Ngày nhập</label
        >
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            id="ItemUploadDate"
            name="ItemUploadDate"
            [(ngModel)]="ItemUploadDate"
          />
        </div>
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn">
          {{ selectedItem ? "Sửa blog" : "Thêm blog" }}
        </button>
      </div>
    </form>

    <div>
      <h5 class="text-danger" style="font-size: 20px; margin-top: 10px">
        Danh sách blog
      </h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr style="text-align: center">
                <th scope="col">Tên Blog</th>
                <th scope="col">Hình Blog</th>
                <th scope="col">Content</th>
                <th scope="col">Ngày</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of ItemList"
                (click)="selectItem(item)"
                style="text-align: center; cursor: pointer"
              >
                <td>{{ item.title }}</td>
                <td>
                  <img
                    src="{{ item.image }}"
                    alt=""
                    style="height: 100px; width: 100px"
                  />
                </td>
                <td>{{ item.content }}</td>
                <td>{{ item.uploadDate }}</td>

                <td class="group-button">
                  <button
                    class="btn btn-outline-danger"
                    (click)="deleteItem(item)"
                  >
                    Xoá
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
